@model PMS.Models.CustomerType
@{
    ViewBag.Title = "Update Customer Type";
    ViewBag.Page = "Customer Type";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PMS | @ViewBag.Title</title>

    @Html.Partial("_AdminHeaderLinks")

    <style>
        .modal-confirm {
            font-size: 14px;
        }

            .modal-confirm .modal-content {
                padding: 20px;
                border-radius: 5px;
                border: none;
            }

            .modal-confirm .modal-header {
                border-bottom: none;
                position: relative;
            }

            .modal-confirm h4 {
                text-align: center;
                font-size: 26px;
                margin: 30px 0 -15px;
            }

            .modal-confirm .form-control,
            .modal-confirm .btn {
                min-height: 40px;
                border-radius: 3px;
            }

            .modal-confirm .close {
                position: absolute;
                top: -5px;
                right: -5px;
            }

            .modal-confirm .modal-footer {
                border: none;
                text-align: center;
                border-radius: 5px;
                font-size: 13px;
            }

            .modal-confirm .icon-box {
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -70px;
                width: 95px;
                height: 95px;
                border-radius: 50%;
                z-index: 9;
                background: #82ce34;
                padding: 15px;
                text-align: center;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            }

                .modal-confirm .icon-box i {
                    font-size: 58px;
                    position: relative;
                    top: 3px;
                }

            .modal-confirm.modal-dialog {
                margin-top: 80px;
            }

            .modal-confirm .btn {
                border-radius: 4px;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                border: none;
            }

                .modal-confirm .btn:hover,
                .modal-confirm .btn:focus {
                    background: #6fb32b;
                    outline: none;
                }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        @Html.Partial("_ClientPreloader")

        <!-- Navbar -->
        @Html.Partial("_ClientNavbar")

        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @Html.Partial("_ClientSidebar")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewBag.Page</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="~/CustomerType/DisplayCustomerType">Display Customer Type</a></li>
                                <li class="breadcrumb-item active">@ViewBag.Title</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->





            <section class="content">
                <div class="container-fluid">
                    <!-- SELECT2 EXAMPLE -->


                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">@ViewBag.Title</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form id="quickForm" action="~/CustomerType/UpdateCustomerTypeData/@Model.Id">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="exampleCountryName1">Customer Type Name</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-user-plus"></i></span>
                                                    </div>
                                                    <input type="text" value="@Model.CustomerTypeName" name="customertypename" class="form-control" id="exampleCountryName1" placeholder="Enter Customer Type  Name">
                                                </div>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="customertypepoints">Customer Type Points</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-star"></i></span>
                                                    </div>
                                                    <input type="number" value="@Model.CustomerTypePoints" name="customertypepoints" class="form-control" id="customertypepoints" placeholder="Enter Customer Type  Points">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="customertypedescription">Customer Type Description</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-tasks"></i></span>
                                                    </div>
                                                    <textarea id="customertypedescription" placeholder="Enter Customer Type Description" name="customertypedescription" class="form-control" rows="4">@Model.CustomerTypeDescription</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">@ViewBag.Title</button>
                                </div>
                            </form>

                            <div id="myModal1" class="modal fade">
                                <div class="modal-dialog modal-confirm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="icon-box">
                                                <i class="fa fa-pen"></i>
                                            </div>
                                            <h4 class="modal-title w-100">Confirmation</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-center">Are You sure You want to update.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary btn-block" id="SubForm" data-dismiss="modal">Sure, Update It</button>
                                            <button class="btn btn-danger btn-block" data-dismiss="modal">Cancel</button>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            @Html.Partial("_ClientAddUpdateViewCardFooter")
                            
                        </div>
                    </div>
                    <!-- /.card -->

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_ClientFooter")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->

        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- JavaScript Links -->
    @Html.Partial("_AdminFooterLinks")

    <script>





        $(function () {
            $.validator.setDefaults({
                submitHandler: function (form) {
                    $("#myModal1").modal('show');
                    $('#SubForm').click(function () {
                        form.submit();
                    });
                }
            });
            $('#quickForm').validate({
                rules: {
                    customertypename: {
                        required: true,
                    },
                    customertypepoints: {
                        required: true,
                        min: 1,
                    },
                    customertypedescription: {
                        required: true,
                    },


                },
                messages: {

                    customertypename: {
                        required: "Please enter a customer type name",
                    },
                    customertypepoints: {
                        required: "Please enter customer type points",
                        min: "Customer type points should be greater than 1",
                    },
                    customertypedescription: {
                        required: "Please enter customer type description",
                    },

                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>



</body>

</html>
