@model PMS.DynamicBindingModels.DailyExpenseManagementOverView_ExpenseType_ForTablelView_AdvanceFilter
@{
    ViewBag.Title = "Display All Daily Expense Record By Advance Filter";
    ViewBag.Page = "Daily Expense Records";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PMS | @ViewBag.Title</title>

    @Html.Partial("_AdminHeaderLinks")
    <style>
        .modal-confirm {
            color: #636363;
        }

            .modal-confirm .modal-content {
                padding: 20px;
                border-radius: 5px;
                border: none;
                text-align: center;
                font-size: 14px;
            }

            .modal-confirm .modal-header {
                border-bottom: none;
                position: relative;
            }

            .modal-confirm h4 {
                text-align: center;
                font-size: 26px;
                margin: 30px 0 -10px;
            }

            .modal-confirm .close {
                position: absolute;
                top: -5px;
                right: -2px;
            }

            .modal-confirm .modal-body {
                color: #999;
            }

            .modal-confirm .modal-footer {
                border: none;
                text-align: center;
                border-radius: 5px;
                font-size: 13px;
                padding: 10px 15px 25px;
            }

                .modal-confirm .modal-footer a {
                    color: #999;
                }

            .modal-confirm .icon-box {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                border-radius: 50%;
                z-index: 9;
                text-align: center;
                border: 3px solid #f15e5e;
            }

                .modal-confirm .icon-box i {
                    color: #f15e5e;
                    font-size: 46px;
                    display: inline-block;
                    margin-top: 13px;
                }

            .modal-confirm .btn,
            .modal-confirm .btn:active {
                color: #fff;
                border-radius: 4px;
                background: #60c7c1;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                min-width: 120px;
                border: none;
                min-height: 40px;
                border-radius: 3px;
                margin: 0 5px;
            }

            .modal-confirm .btn-secondary {
                background: #c1c1c1;
            }

                .modal-confirm .btn-secondary:hover,
                .modal-confirm .btn-secondary:focus {
                    background: #a8a8a8;
                }

            .modal-confirm .btn-danger {
                background: #f15e5e;
            }

                .modal-confirm .btn-danger:hover,
                .modal-confirm .btn-danger:focus {
                    background: #ee3535;
                }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        @Html.Partial("_ClientPreloader")

        <!-- Navbar -->
        @Html.Partial("_ClientNavbar")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @Html.Partial("_ClientSidebar")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewBag.Page</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">@ViewBag.Title</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    @if (TempData["ResultStatus"] != null)
                    {

                        if (TempData["ResultStatus"].ToString() == "fail")
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h5><i class="icon fa fa-ban"></i> @TempData["ResultMessageTitle"].ToString()</h5>
                                @TempData["ResultMessage"].ToString()

                            </div>
                        }
                        else
                        {
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h5><i class="icon fa fa-check"></i> @TempData["ResultMessageTitle"].ToString() </h5>
                                @TempData["ResultMessage"].ToString()
                            </div>

                        }
                    }
                    <form action="/DailyExpenseManagement/DisplayDailyExpenseDataByAfterFilter">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Advance Filter</h3>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">



                                        <div class="row m-1 mt-2">
                                            <div class="col-md-5 col-sm-12 ">
                                                <div class="form-group">
                                                    <label for="inputreason">Customer Name <a href="~/Customer/AddCustomer" class="btn btn-success" style="border-radius:100%">+</a></label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-cheese"></i></span>
                                                        </div>
                                                        <select class="form-control custom-select select2" name="customername" id="customername" data-placeholder="Enter Customer name" data-dropdown-css-class="select2" style="width: 82%;">
                                                            <option value="--" selected="selected">All</option>

                                                            @foreach (var customerInfoData in Model.CustomerInfoData)
                                                            {
                                                                <option value="@customerInfoData.UserName">@customerInfoData.UserName</option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-12 ">
                                                <div class="form-group">
                                                    <label for="inputbudget"> Type &nbsp;&nbsp;&nbsp;<a href="~/CustomerType/AddCustomerType" class="bg-info btn" style="border-radius:100%;text-decoration:none;min-width:10px ">+</a></label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-cheese"></i></span>
                                                        </div>
                                                        <select class="form-control custom-select customertype" name="customertype" id="customertype" style="width: 82%;">
                                                            <option value="" selected>All</option>
                                                            <option value="CUSTOMER">Customer</option>
                                                            <option value="EXTRA">Extra</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12 ">
                                                <div class="form-group">
                                                    <label for="inputbudget">Expense Type <a href="~/DailyExpenseType/AddDailyExpenseType" class="bg-pink btn" style="border-radius:100%;text-decoration:none;">+</a></label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-cheese"></i></span>
                                                        </div>
                                                        <select class="form-control custom-select expensetype" name="expensetype" id="expensetype" style="width: 82%;">

                                                            <option value="" selected>All</option>

                                                            @foreach (var dailyExpenseType in Model.DailyExpenseTypeData)
                                                            {
                                                                <option value="@dailyExpenseType.Id">@dailyExpenseType.DailyExpenseTypeName</option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row m-1">


                                            <div class="col-md-3 col-sm-12 ">
                                                <div class="form-group">
                                                    <label for="inputsno">Date Range Symbol </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-cheese"></i></span>
                                                        </div>
                                                        <select class="form-control custom-select datesymbol" name="datesymbol" id="datesymbol" style="width: 82%;">
                                                            <option value=">">></option>
                                                            <option value=">=">>=</option>
                                                            <option value="=" selected>=</option>
                                                            <option value="<"><</option>
                                                            <option value="<="><=</option>


                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="inputsno">Form Date </label>
                                                    <div class="input-group ">
                                                        <div class="input-group-prepend ">
                                                            <span class="input-group-text">
                                                                <i class="far fa-calendar-alt"></i>
                                                            </span>
                                                        </div>
                                                        <input type="date" name="fromdate" id="fromdate" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-sm-12 ">
                                                <div class="form-group">
                                                    <label>Date range:</label>

                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="far fa-calendar-alt"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control float-right" id="daterange" name="daterange">
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row m-1">

                                            <div class="col-md-4 col-sm-12 ">
                                                <div class="form-group">
                                                    <label for="inputbudget">From Amount</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-cheese"></i></span>
                                                        </div>
                                                        <input type="text" data-type="currency" name="fromamount" placeholder="Enter From Amount" id="fromamount" class="form-control">
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-md-4 col-sm-12 ">
                                                <div class="form-group">
                                                    <label for="inputsno">Amount Symbol </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-cheese"></i></span>
                                                        </div>
                                                        <select class="form-control custom-select amountsymbol" name="amountsymbol" id="amountsymbol" style="width: 82%;">
                                                            <option value=">">></option>
                                                            <option value=">=">>=</option>
                                                            <option value="=" selected>=</option>
                                                            <option value="<"><</option>
                                                            <option value="<="><=</option>


                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-4 col-sm-12 ">
                                                <div class="form-group">
                                                    <label for="inputbudget">To Amount</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-cheese"></i></span>
                                                        </div>
                                                        <input type="text" data-type="currency" name="toamount" placeholder="Enter To Amount" id="toamount" class="form-control">
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row m-1 mb-2">
                                            <div class=" col-12 mb-2">
                                                <input type="submit" value="Filter Data" class="btn btn-success col-md-3  float-right  ">
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <a href="~/DailyExpenseManagement/AddDailyExpense" class="btn btn-primary col-12"> Add New Daily Expense </a>
                        </div>
                        <div class="col-12">

                            <!-- /.card -->

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">@ViewBag.Title</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="overflow-auto">
                                        <table id="example1" class="table table-bordered table-striped text-nowrap ">
                                            <thead>
                                                <tr>
                                                    <th>SNo</th>
                                                    <th>Customer Name</th>
                                                    <th>Customer Type</th>
                                                    <th>Expense Type</th>
                                                    <th>Expense Date</th>
                                                    <th>Expense Total </th>
                                                    <th>Added By</th>
                                                    <th>Added On</th>
                                                    <th>Last Modified By</th>
                                                    <th>Last Modified On</th>
                                                    <th>Detail View</th>
                                                    <th>Update</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @{ int SNo = 0;}
                                                @foreach (var dailyExpense in Model.DailyExpenseOverview)
                                                {

                                                    string notModified = "Not Modified Yet";
                                                    string notEnteredYet = "Not Entered Yet";


                                                    <tr>
                                                        <td>@{SNo++;}@SNo</td>
                                                        <td>@dailyExpense.DailyExpenseCustomerName</td>
                                                        <td>@dailyExpense.DailyExpenseCustomerType</td>
                                                        <td>@dailyExpense.DailyExpenseTypeName</td>
                                                        <td>@dailyExpense.DailyExpenseDate.ToLongDateString()</td>
                                                        <td>₪ @dailyExpense.DailyExpenseTotalPrice</td>


                                                        <td>@dailyExpense.AddedBy</td>
                                                        <td>@dailyExpense.AddedOn</td>
                                                        <td>
                                                            @{
                                                                if (dailyExpense.LastModifiedBy == "")
                                                                {
                                                                    @notModified;
                                                                }
                                                                else
                                                                {
                                                                    @dailyExpense.LastModifiedBy;
                                                                }
                                                            }

                                                        </td>
                                                        <td>
                                                            @{
                                                                if (dailyExpense.LastModifiedOn == null)
                                                                {
                                                                    @notModified;
                                                                }
                                                                else
                                                                {
                                                                    @dailyExpense.LastModifiedOn;
                                                                }
                                                            }
                                                        </td>
                                                        <td><a href="~/DailyExpenseManagement/ViewDailyExpenseSpecificDetail/@dailyExpense.Id" style="color: black;"> <i class="fa fa-eye"></i></a></td>
                                                        <td><a href="~/DailyExpenseManagement/UpdateDailyExpenseDetail/@dailyExpense.Id" style="color: black;"><i class="fa fa-pencil"></i></a></td>
                                                        <td> <a href="#myModal" style="color: black;" onclick="SetDeleteId('@dailyExpense.Id')" data-toggle="modal"><i class="fa fa-trash"></i></a></td>

                                                    </tr>

                                                }


                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>SNo</th>
                                                    <th>Customer Name</th>
                                                    <th>Customer Type</th>
                                                    <th>Expense Type</th>
                                                    <th>Expense Date</th>
                                                    <th>Expense Total </th>
                                                    <th>Added By</th>
                                                    <th>Added On</th>
                                                    <th>Last Modified By</th>
                                                    <th>Last Modified On</th>
                                                    <th>Detail View</th>
                                                    <th>Update</th>
                                                    <th>Delete</th>

                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                    <div id="myModal" class="modal fade col-lg-12 ">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header flex-column">
                                                    <div class="icon-box">
                                                        <i class="fa fa-info"></i>
                                                    </div>
                                                    <h4 class="modal-title w-100">Are you sure?</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p id="modal-delete-para">Do you really want to delete these records? This process cannot be undone.</p>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-secondary mb-2" data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-danger mb-2" onclick="SureDeletion()">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="imageModal" class="modal fade col-lg-12 ">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header flex-column">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title w-100">Image Preview</h4>

                                                </div>
                                                <div class="modal-body">
                                                    <img id="modelImage" src="" style="height:100%;width:100%" />
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-secondary mb-2" data-dismiss="modal">Cancel</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>




                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Modal HTML -->
        @Html.Partial("_ClientFooter")

        <!-- Control Sidebar -->
        <!-- Control sidebar content goes here -->
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- JavaScript Links -->
    @Html.Partial("_AdminFooterLinks")
    <script>
        function setValue(imagePath) {
            $("#modelImage").attr("src", imagePath);
        }
    </script>

    <script>

        $('#daterange').daterangepicker();

        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2({
                tags: true,
                tokenSeparators: [',', ' '],
                createTag: function (params) {
                    var term = $.trim(params.term);

                    if (term === '') {
                        return {
                            id: term,
                            text: "All",
                            newTag: true // add additional parameters
                        }
                    }

                    return {
                        id: term,
                        text: term,
                        newTag: true // add additional parameters
                    }
                }
            });

            $('.customertype').select2({
                theme: 'bootstrap4'
            });


            $('.expensetype').select2({
                theme: 'bootstrap4'
            });

            $('.datesymbol').select2({
                theme: 'bootstrap4'
            });

            $('.amountsymbol').select2({
                theme: 'bootstrap4'
            });
        });




        //Currency Validator
        $("input[data-type='currency']").on({
            keyup: function () {
                formatCurrency($(this));
            },
            blur: function () {
                formatCurrency($(this), "blur");
            }
        });


        function formatNumber(n) {
            // format number 1000000 to 1,234,567
            return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }


        var currencySymbol = "₪";

        function formatCurrency(input, blur) {
            // appends $ to value, validates decimal side
            // and puts cursor back in right position.

            // get input value
            var input_val = input.val();

            // don't validate empty input
            if (input_val === "") {
                return;
            }

            // original length
            var original_len = input_val.length;

            // initial caret position
            var caret_pos = input.prop("selectionStart");

            // check for decimal
            if (input_val.indexOf(".") >= 0) {

                // get position of first decimal
                // this prevents multiple decimals from
                // being entered
                var decimal_pos = input_val.indexOf(".");

                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos);

                // add commas to left side of number
                left_side = formatNumber(left_side);

                // validate right side
                right_side = formatNumber(right_side);

                // On blur make sure 2 numbers after decimal
                if (blur === "blur") {
                    right_side += "00";
                }

                // Limit decimal to only 2 digits
                right_side = right_side.substring(0, 2);

                // join number by .
                input_val = currencySymbol + left_side + "." + right_side;

            } else {
                // no decimal entered
                // add commas to number
                // remove all non-digits
                input_val = formatNumber(input_val);
                input_val = currencySymbol + input_val;

                // final formatting
                if (blur === "blur") {
                    input_val += ".00";
                }
            }

            // send updated string to input
            input.val(input_val);

            // put caret back in the right position
            var updated_len = input_val.length;
            caret_pos = updated_len - original_len + caret_pos;
            input[0].setSelectionRange(caret_pos, caret_pos);
        }

    </script>


    <script>
        var projectName = "";

        function SetDeleteId(projectNameTemp) {
            projectName = projectNameTemp;
            document.getElementById('modal-delete-para').innerHTML = "Do you really want to delete daily expense <span class='text-danger'> " + projectName + " </span> ? This process cannot be undone. ";
        }

        function SureDeletion() {
            location.href = "/DailyExpenseManagement/DeleteDailyExpenseInfoData?id=" + projectName;
        }
    </script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "lengthChange": true,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "fixedHeader": {
                    "header": true,
                    "footer": true
                },
                "columnDefs": [{
                    "width": "10px",
                    "targets": 0
                },
                {
                    "width": "40px",
                    "targets": 1
                },
                {
                    "width": "100px",
                    "targets": 2
                },
                {
                    "width": "70px",
                    "targets": 3
                },
                {
                    "width": "70px",
                    "targets": 4
                },
                {
                    "width": "200px",
                    "targets": 10
                }
                ],
                "rowCallback": function (row, data, index) {
                    //console.log(index, data);
                    for (n = 6; n < 55; n++) {
                        var color = (data[n] == 1) ? 'green' : ((data[n] == 2) ? 'yellow' : ((data[n] == 3) ? 'red' : 'grey'));
                        jQuery('td:eq(' + n + ')', row).css('background-color', color);
                        jQuery('td:eq(' + n + ')', row).css('color', color);
                    }
                },
            });

        });
    </script>
</body>
</html>

